/*----------------------------------------
colour palette
#d2932a - header background brown
#ca0063 - header purple
#FFFFFF - white
#707070 - border gray
#F9D776 - yellow
#113D4A - dark gray almost black
#00A9DA - blue
----------------------------------------
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 20px;
  margin: 10 px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  background: #d2932a;
  min-height: 100px;
  padding: 20px;
}

.logo {
  margin: 25 px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 75px;
}
.container {
  display: flex;
  justify-content: space-around;
}

.container a {
  color: #ca0063;
  text-decoration: none;
  font-size: 30px;
  padding: 8px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
}
.container a:hover {
  background-color: #000; /* Add a hover color */
}

.current {
  font-weight: bold;
}

.container input[type="text"] {
  width: 120px;
  height: 40px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  font-size: 20px;
}
.container span {
  font-size: 30px;
}
#shopping-cart{
  color:white;
  font-size 30px;
}
main {
  
  font-family: "Montserrat", sans-serif;
}

.main-wrap{
  min-height: 1000px;
  background-image: url("../Images/delivery_man.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

main h1{

  font-size: 48px;
  color:#52DEA7;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
}

main p{
  font-size: 40px;
  color:#52DEA7;
  font-weight: 800;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 300px;

}
footer {
  background-color: #00a9da;
  height: 200px;
}

.footer-container {
  display: inline-flex;
  justify-content: space-around;
  
}

.container-3 {
  dislpay: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
   margin-left: 80px;
  margin-right: 480px;
  
  

.container-3 span,
.container-3 p {
  font-size: 12px;
  color: #ffffff;
}

.container-3 a {
  font-size: 12px;
  color: #ffffff;
  padding: 8px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
}

footer a:hover {
  background-color: #000; /* Add a hover color */
}

