/*----------------------------------------
colour palette
#d2932a - header background brown
#ca0063 - header purple
#FFFFFF - white
#707070 - border gray
#F9D776 - yellow
#113D4A - dark gray almost black
#00A9DA - blue
----------------------------------------
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 20px;
  margin: 10 px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  background: #d2932a;
  min-height: 100px;
  padding: 20px;
}

.wrap {
  max-width: 100%;
}

.logo {
  margin: 10 px;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  max-height: 75px;
}

.line 1 {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

nav li {
  display: inline-block;
  color: #ca0063;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #ca0063;
  text-decoration: none;
  padding: 10px;
}
nav a:hover {
  text-decoration: underline;

  .searchbox {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: column-reverse;
  }
}
main {
  background-color: green;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: blue;
}
