/*----------------------------------------
colour palette
#d2932a - header background brown
#ca0063 - header purple
#FFFFFF - white
#707070 - border gray
#D1942B - dark orange
#F9D776 - yellow
#113D4A - dark gray almost black
#00A9DA - blue
----------------------------------------
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  background: #d2932a;
  height: 100px;
  padding: 20px;
}

.logo {
  margin: 25 px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
}
.container {
  display: flex;
  justify-content: space-around;
}

.container a {
  color: #ca0063;
  text-decoration: none;
  font-size: 30px;
  padding: 8px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
}
.container a:hover {
  background-color: #000; /* Add a hover color */
}

.current {
  font-weight: bold;
}

.container input[type="text"] {
  width: 120px;
  height: 40px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  font-size: 20px;
}
.container span {
  font-size: 30px;
}

#shopping-cart{
  color:white;
  font-size 30px;
}

main {
    /*background: lightgreen;*/
}

main h1 {
  color: #d2932a;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
main p {
  border: 1px solid #707070;
  padding: 50px;
  margin: 40px 20px;
  font-size: 32px;
  font-weight: bold;
  color: #d1942b;
}
.content-wrap{
  min-height: 1500px;
}
.container-pic {
  /*display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  
 
  }

  .container-pic-1{
    display:flex;

    
    
    
  }
  .container-pic-2{
    display:flex;

     
    
   
    
  }

.item {
  padding: 10px;
  margin: 30px 20px;
  min-width: 600px;
  min-height: 600px;
  flex: 0 0 910px;
  
  
}

.one {
  background-image: url("../Images/upper_left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.two {
  background-image: url("../Images/upper_right.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}

.three {
  background-image: url("../Images/lower_left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}

.four {
  background-image: url("../Images/lower_right.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

footer {
  background-color: #00a9da;
  height: 200px;
}

.footer-container {
  display: inline-flex;
  justify-content: space-around;
  align-content: space-around;
  
}

.container-3 {
  dislpay: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  margin-left: 80px;
  margin-right: 425px;
  line-height: 1.3em;
}

.container-3 span,
.container-3 p {
  font-size: 12px;
  color: #ffffff;
}

.container-3 a {
  font-size: 12px;
  color: #ffffff;
  padding: 8px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
}

footer a:hover {
  background-color: #000; /* Add a hover color */
}

@media(max-width: 950 px) {

  .container{
    flex-wrap:wrap;
  }
  main h1 {
    color: #d2932a;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
  }
  .container-pic-1, .container-pic-2{
    display:flex;
    flex-direction:column;
    }

  

  .item {
    padding: 10px;
    margin: 30px 20px;
    min-width: 600px;
    min-height: 600px;
    flex: 0 1 910px;
    
.footer-container {
  display:flex;
}  
  }
