/*----------------------------------------
colour palette
#d2932a - header background brown
#ca0063 - header purple
#FFFFFF - white
#707070 - border gray
#F9D776 - yellow
#113D4A - dark gray almost black
#00A9DA - blue
----------------------------------------
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin:0;
  padding: 0;
  font-family: "RobotoFlex", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto;
  grid-template-areas:
    "myheader myheader"
    "mymain mymain"
    "myfooter myfooter";
}

header {
  background:#d2932a;
  min-height: 100px;
  grid-area: myheader;
  background: #d2932a;
  padding:20px;
  overflow:hidden;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
}

.logo {
  
  
  margin: 10 px;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  max-height:75px;
}


}
.absolute-position{
  position:absolute;
  top: 30px;
  left: 30px;
  padding:10px;
}
.relative position{
  dispaly:inline;
  margin:990 px
  
}

nav {
  grid-area:mynav;
  overflow:auto;
  
  background: none;
}
nav li {
  display: inline-block;
  color: #ca0063;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #ca0063;
  text-decoration: none;
  padding: 10px;
}
nav a:hover {
  text-decoration: underline;
}
.current {
  font-weight: bold;
}
.searchbox{
  max-width:100px;
  max-height: 5px;
  padding:30px;
  margin:60px;
  display:inline-block;
  overflow:hidden;
 }

 #shopping{
  color:#FFF;
  display:inline;
 }

p {
  color: #d1942b;
}


main {
  grid-area: mymain;
  background: lightgreen; 
  
}
  h1{
    color:#d2932a
    font-family: "RobotoFlex", Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight:bold;
    text-align:center;
          
  }
  p.frame {
  border: 1px solid #707070;
  padding: 10px;
  margin: 40px 20px;
}
  
.container pic{
  display:flex;
  flex direction:column;
    }

.item{
  flex:1;
  padding: 10px;
  margin:10px;
  max-width:900px;
  width: 50%;
  float: left;
  min-height: 500px;
  
}

.one{
  background-image:url("Images/upper_left.jpg");
  background-size:cover;
  background-repeat:no-repeat;
 
  
}
.two{
  background-image:url("Images/upper_right.jpg");
  background-size:cover;
  background-repeat:no-repeat;
 
  
}

.three{
  background-image:url("Images/lower_left.jpg");
  background-size:cover;
  background-repeat:no-repeat;
 
}

.four{
  background-image:url("Images/lower_right.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  
}

footer {
  grid-area: myfooter;
  background: yellow;
  
}

.container link:after{
  content:""
  display:table;
  clear: both;
  }
.item{
  flex:1;
  padding:10px;
  margin:10px;
}
.email{
  display:inline-block;
max-width: 80 px;
}
@media(min-width: 600 px) {
  .logo{
    float:left;
  }
  nav{
    display:inline-block;
  }
  .hamburger-label{
    display:none;
  }
  ul{
    display:flex;
  }
  li{
    display:inline-block;
  }
  nav a{
    padding: 20% 40px;
  }
}