/*----------------------------------------
colour palette
#d2932a - header background brown
#ca0063 - header purple
#FFFFFF - white
#707070 - border gray
#F9D776 - yellow
#113D4A - dark gray almost black
#00A9DA - blue
----------------------------------------
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  background: #d2932a;
  height: 100px;
  padding: 20px;
}

.logo {
  margin: 25 px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
}
.container {
  display: flex;
  justify-content: space-around;
}

.container a {
  color: #ca0063;
  text-decoration: none;
  font-size: 30px;
  padding: 8px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
}
.container a:hover {
  background-color: #000; /* Add a hover color */
}

.current {
  font-weight: bold;
}

.container input[type="text"] {
  width: 120px;
  height: 40px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 0px;
  font-size: 20px;
}
.container span {
  font-size: 30px;
}

#shopping-cart{
  color:white;
  font-size 30px;
}

main {
  /*background-color: green;*/
}
.main-wrap {
  display: flex;
  /*min-height: 900px;*/
}

.item {
  flex: 1;
  width:auto;
  /*min: width 150px;*/
  min-height:600px;
  padding:50px;
}
.one {
  background-image: url("../Images/products_snowboarding_man.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.two {
  background-image: url("../Images/products_skiing_woman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.item.one a{
  margin-top:55px;
  float:right;
  color: #F9D776; 
  font-weight: 800;

}
.item.two a{
  margin-top:55px;
  float:left;
  color: #F9D776; 
  font-weight: 800;
}

main h1 {
  color: #f9d776;
  float: right;
  margin: 0;
}

.container-main a {
  color: #f9d776;
  font-size: 48;
  font-weight: 800;
}
footer {
  background-color: #00a9da;
  height: 200px;
}

.footer-container {
  display: inline-flex;
  justify-content: space-around;
  align-content: space-around;
}

.container-3 {
  dislpay: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  margin-left: 80px;
  margin-right: 600px;
}

.container-3 span,
.container-3 p {
  font-size: 12px;
  color: #ffffff;
}

.container-3 a {
  font-size: 12px;
  color: #ffffff;
  padding: 8px; 
  transition: all 0.3s ease; 

footer a:hover {
  background-color: #000; 
}

@media(max-width: 950 px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  
  .main-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .item.one a{
    margin-top:55px;
    float:left;
    color: #F9D776; 
    font-weight: 800;
  
  }
  .item.two a{
    margin-top:855px;
    float:left;
    color: #F9D776; 
    font-weight: 800;
  }
  
  main h1 {
    color: #f9d776;
    float: left;
    margin: 0;
  }
  .container-main {
    display:flex;
    flex-direction:column;
    }

    .container-1, .container-2{
    flex-direction:column;
  }
.footer-container {
  display:flex;
}  

.footer-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}
  }
